*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.header-section{
  display: flex;
}
.nav{
  display: flex;
  justify-content: center;
}
.nav-text ul{
  list-style-type: none;
  display: flex;
}
.nav-text ul li a{
  margin: 20px;
  text-decoration: none;
  
}

